body > div{
  width: 100%;
  height: 500px;
  background-color: beige;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
#first-div {
  width: 100px;
  height: 100px;
  background-color: orange;
}
#second-div {
  width: 100px;
  height: 100px;
  background-color: yellow;
}
#third-div {
  /* position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; */
  width: 200px;
  height: 200px;
  background-color: pink;
}
